@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  background: linear-gradient(to left, #16A085 , #F4D03F); 
  font-family: 'Roboto', sans-serif;
}

.container{
  text-align: center;
  padding-top: 30px;
}

#title{
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
  color: #8f42f4;
}

#searchItem{
  width: 61%;
  height: 50px;
  border: 3px solid gray;
  border-radius: 10px;
  margin: 20px auto;
  display:block;
  font-size: 20px;
}


.button {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: 15px;
  color: #8f42f4;
}

#display{
 font-family:'Lobster';
  width: 60%;
 margin-bottom: 5px; 
  margin: auto;
  list-style: none;
 
}

li{
  margin: 10px 0px;
  padding: 5px 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

p{
  font-size: 20px;
}

li:hover{  
  border-style: solid;
  border-width: 1px;
  border-color: #8333FF;
}

input{
  text-align: center
}
